---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

$serif-font-family: "Nanum Gothic", "Lora", serif;
$sans-serif-font-family: "Nanum Gothic", "Source Sans Pro", sans-serif;
$monospace-font-family: "Nanum Gothic", Menlo, Consolas, Monaco, "Courier New", Courier, monospace;